@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;600&display=swap');

:root {
  --headline-font: "Lora", serif;
  --paragraph-font: "Fira Sans", sans-serif;
}

body {
  margin: 0;
  border-top: 7px solid orange;
  font-family: sans-serif;
  color: #d5d5d5;
  background-color: #040d21;
}

h2 {
  font-family: var(--headline-font);
  font-size: 35px;
  font-weight: normal;
}

.cards{
  display: flex;
  flex-direction: column;    
  margin: 2px 10px;
}

.card{  
  margin-bottom: 20px;
  background-color: #302F3D;
  border-radius: 20px;  
  padding: 20px;   
  width: 348px; 
  box-shadow: 2px 2px 2px 1px rgb(48, 47, 61, 20%) ;   
}

.badge{
  background-color: #CB92B1; 
  border-radius: 30px;
  color: #302F3D;
  font-weight: 600;
  padding: 5px 10px;  
  margin: 5px 3px;
}

.group-badges{
  display: flex;
  flex-wrap: wrap;
}

.apresentation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 292px;     
  color: #fff;  
}

.name{
  font-family: 'Merriweather Sans', serif;  
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0;
}

.office{
  margin-top: 5px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 0.9em;
}

.photo{
  height: 50%;  
  border-radius: 100%;
  border: solid #00FF00 2px;
  margin-bottom: 10px;
}

.icon-place{
  margin: 0 20px;
  color: #837E9F; /*icon color*/
}

.locate-name{  
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.job-title{
  font: 16px 'Merriweather Sans', serif;    
  font-weight: bold;
}

.job-details{
  padding: 0;
  list-style-type: none;
  font: 14px 'Merriweather Sans', serif;  
}

.signup-bg-stars {
  z-index: -1;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 760px 860px rgb(255 255 255 / 20%), 389px 218px #fff,
    39px 1630px #fff, 217px 1673px #fff, 714px 3px #fff, 322px 548px #fff,
    1108px 1531px #fff, 985px 476px #fff, 512px 1420px #fff, 909px 622px #fff,
    421px 1149px #fff, 1005px 1363px #fff, 1744px 297px #fff, 1837px 1757px #fff,
    1791px 1549px #fff, 1526px 1217px #fff, 197px 787px #fff, 220px 433px #fff,
    651px 1568px #fff, 285px 1448px #fff, 69px 119px #fff, 547px 816px #fff,
    1675px 1587px #fff, 970px 414px #fff, 602px 208px #fff, 1555px 1533px #fff,
    95px 738px #fff, 709px 1161px #fff, 1446px 1466px #fff, 371px 98px #fff,
    1022px 1594px #fff, 1918px 1995px #fff, 779px 1501px #fff,
    1169px 1826px #fff, 1577px 1994px #fff, 919px 1150px #fff,
    1383px 1508px #fff, 1694px 1481px #fff, 1317px 1561px #fff,
    821px 1926px #fff, 1155px 575px #fff, 796px 192px #fff, 1919px 717px #fff,
    1416px 909px #fff, 463px 503px #fff, 677px 537px #fff, 793px 1154px #fff,
    42px 1861px #fff, 728px 339px #fff, 1862px 202px #fff, 50px 848px #fff,
    471px 894px #fff, 778px 655px #fff, 74px 773px #fff, 1223px 251px #fff,
    1920px 599px #fff, 346px 753px #fff, 138px 620px #fff, 1951px 1793px #fff,
    743px 804px #fff, 1442px 308px #fff, 1994px 1526px #fff, 1614px 145px #fff,
    965px 36px #fff, 343px 284px #fff, 703px 1822px #fff, 642px 1032px #fff,
    159px 1419px #fff, 1873px 935px #fff, 1910px 10px #fff;
  animation: animStar 100s linear infinite;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animStar;
}

.signup-bg-stars-2 {
  z-index: -1;
  width: 2px;
  height: 2px;
  box-shadow: 693px 528px rgb(255 255 255 / 20%), 1314px 254px #fff,
    1917px 671px #fff, 374px 1286px #fff, 1490px 1195px #fff, 1270px 1398px #fff,
    402px 1979px #fff, 1692px 61px #fff, 1629px 690px #fff, 1093px 119px #fff,
    1954px 1367px #fff, 616px 809px #fff, 1523px 230px #fff, 1646px 1159px #fff,
    371px 1148px #fff, 1579px 1112px #fff, 1847px 808px #fff, 1300px 1025px #fff,
    291px 946px #fff, 540px 487px #fff;
  animation: animStar 150s linear infinite;
  animation-duration: 150s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animStar;
}

.signup-bg-stars-3 {
  z-index: -1;
  width: 3px;
  height: 3px;
  box-shadow: 890px 747px rgb(255 255 255 / 20%), 754px 1131px #fff,
    667px 1454px #fff, 383px 675px #fff, 201px 1293px #fff, 197px 257px #fff,
    876px 1545px #fff, 44px 514px #fff, 1075px 1097px #fff, 305px 712px #fff;
  animation: animStar 200s linear infinite;
  animation-duration: 200s linear infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: animStar;
}

@keyframes animStar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-2000px);
  }
}

p {
  font-family: var(--paragraph-font);
  font-size: 18px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

article > h2 > a {
  color: gray;
  text-decoration: underline dashed;
}

article > h2 > a:hover {
  background-color: #555;
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

article {
  margin: 0 20px;
  padding: 10px;
  max-width: 580px;
}

main > article > figure > img {
  width: 100%;
}

figure {
  margin: 0;
  text-align: center;
}

figcaption {
  padding: 5px 0;
  font-size: 0.95em;
}

footer {  
  display: flex;  
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 28px;
  text-align: center;
  background-color: #222;    
}
#footer-text{
  font-size: 15px;
  text-align: end;
  margin: 10px 20px;
}