body{
    margin: 0;
    border-top: 7px solid orange;
    font-family: sans-serif;
    color: gray;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

article > h2 > a{
    color: gray;
    text-decoration: underline dashed;
}

main{    
    display: flex;    
    justify-content: center;
    margin-top: 60px;    
}

article{
    margin: 0 20px;
    padding: 10px;    
    max-width: 600px; 
}

main > article > figure > img{    
    width: 100%;    
}

figure{
    margin: 0;    
    text-align: center;            
}

figcaption{
    padding: 5px 0;
    font-size: 0.95em;
}

footer{                
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;    
    background-color: burlywood;
}

footer > ul{          
    display: flex;   
    list-style: none;
    justify-content: center;    
    padding: 0;
}

footer > ul > li{
    margin: 0 5px;
}